<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- Your main content goes here -->
    </div>
    <div class="col-md-4">
      <div class="patient-info-box">
        <h3>Patient Information</h3>
        <hr>
        <p><strong>Name:</strong> {{patient.firstname}} {{patient.lastname}}</p>
        <p><strong>Username:</strong> {{patient.username}}</p>
        <p><strong>Birthdate:</strong> {{patient.birthdate | date:'longDate'}}</p>
        <p><strong>Diabetes Type:</strong> {{patient.diabetestype}}</p>
        <p><strong>Address:</strong> {{patient.address}}</p>
        <p><strong>City:</strong> {{patient.city}}</p>
      </div>
    </div>
  </div>
</div>
